<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <nav>
    <ul>
        <li>Home</li>
        <li>Menu</li>
        <li>Sign up</li>
        <li>Log in</li>
    </ul>
    </nav>
    <section>
        <figure>
            <img style="height: 50vh;
            width: 100vh;
            background-color: silver;"
            src="" alt="">
           </figure>
        <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, odit maxime. Praesentium tempora reprehenderit temporibus voluptas aliquam ipsa perferendis nemo sapiente
         accusantium vel odit, sunt culpa, autem quas sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat sapiente repudiandae officiis non culpa ex ullam
          optio, est, id, doloribus itaque quos! Impedit porro libero, mollitia pariatur nihil adipisci!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, odit maxime. Praesentium tempora reprehenderit temporibus voluptas aliquam ipsa perferendis nemo sapiente
          accusantium vel odit, sunt culpa, autem quas sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat sapiente repudiandae officiis non culpa ex ullam
           optio, est, id, doloribus itaque quos! Impedit porro libero, mollitia pariatur nihil adipisci!
        </article>
    <button onclick="myfunction()">hello!</button>
    </section>
    <footer id="demo"
     style="background-color:  #1A1A1A;
    position: relative;
    bottom: 0;
    height: 200px;">
  
    </footer>
    <form name="myForm">  
        <input type="button" value="comment" onclick="showcommentform()">  
        <div id="mylocation"></div>  
        </form>  
        
    <script>

function showcommentform() {  
var data="Name:<br><input type='text' name='name'><br>Comment:<br><textarea rows='5' cols='50'></textarea><br><input type='submit' value='comment'>";  
  
document.getElementById('mylocation').innerHTML=data;  
 }  

    function myfunction() {
        if (true){
        var data="Name:<br><input type='text' name='name'><br>Comment:<br><textarea rows='5' cols='50'></textarea><br><input type='submit' value='comment'>";  
        document.getElementById('demo').style = "border: 2px solid purple; height: 200px;"
        document.getElementById('demo').innerHTML=data;  
        }
        document.getElementById('mylocation').innerHTML=data;    
    }
     </script>   
</body>
</html>