*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  }



.navbar{
border: 1px solid rgb(0, 0, 0);
height: 50px;
background-color: rgba(56, 53, 53, 8);
transition: all ease-in 0.2s;
}

.logo{
 margin: 5px 10px;
 font-size: 25px;
 float: left;
 color: #f3f3f3;
}

.Action{
opacity: 0;
}

.navbar-contant{
  margin-top: 13px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  float: right;
  opacity: 1;
}

.navbar-contant li a{
  text-decoration: none;
  padding: 12px;
  color: #f3f3f3;
}

.ham li a:hover{
  border-bottom: 2px solid white;
  transition: all ease-in 3ms;
}


.line{
  background-color: white;
  height: 2px;
  width: 25px;
  margin: 4px;
  border-radius: 40px;
}

.menu-bar{
  height: 25px;
  width: 36px;
  border-radius:3px;
}

@media only screen and (max-width: 780px){

  .navbar-media{
   height: 220px;
   border: 1px solid black;
   background-color: rgba(56, 53, 53, 8);
   transition: all ease-out 0.2s;
   }

  .ham{
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    float: right;
    opacity: 1;
    transition: all ease-out 1s;
  }

  
.ham li a:hover{
  border-bottom: 2px solid white;
  transition: all ease 0.5ms;
}

  .ham li a{
    color: #f3f3f3;
    text-decoration: none;
    padding: 12px;
  }

  .navbar-contant{
    display: none;
  }

  .ham li{
    width: 200px;
    margin: auto;
  }

  .menu-bar{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    transition: all ease-in 3s;
  }



  .menu-bar .line{
    color: #fff;
    transition: all ease-in 0.2s;
  }

}
