*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

  .form-control{
    margin: 20px auto;
  }

  .Theme-x{
    padding: 5px;
    float: right;
    position: fixed;
    top: 90%;
    right: 2%;
    color: white;  
    z-index: 100;
    }

    .Theme-x:hover{
    border: 2px solid white;
    padding: 5px;
  
    }
    
    .Theme-y:hover{
      border: 2px solid greenyellow;
      padding: 5px;
    
      }

    .Theme-y{
      padding: 5px;
      float: right;
      position: fixed;
      top: 90%;
      right: 2%;
      color: white;  
      z-index: 100;
    } 

    .picture{
      max-width: 300px;
      background-position: cover;
      margin: 20px;
    }

    .boxesF1{
      display: flex;
      /* flex-direction: column; */
      justify-content: space-around;
      margin: 100px auto;
      } 

       .portion{
        display: flex;
        height: max-content;
        /* border: 5px solid rgb(12, 6, 12); */
       }
      
       .fix-box{
        display: flex;
        /* flex-direction: column-reverse; */
      }

@media only screen and (max-width: 900px){ 

.portion{
   display: flex;
   flex-direction: column;
   height: max-content;
   padding: 20px;
   word-break: break-all;
  }

  .fix-box{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    word-break: break-all;
  }

  .portion2{
    display: flex;
    flex-direction: column;
  }

  .subportion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
  }


  .picture{
    max-width: fit-content;
    height: 100%;
    border-radius: 0;
  }

  .paragraph{
    min-width: 90%;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    /* text-align: center; */
    padding: 10px;
  }

  .Products{
    text-align: center;
  }

  .Grab{
    text-align: center;
  }

  .Slider{
    max-height: 300px;
  }

}


@media only screen and (max-width: 600px){

  .boxF{
  display: flex;
  flex-direction: column;
  }


.boxesF1{
display: flex;
flex-direction: column;
justify-content: center;
/* border: purple 5px solid; */
max-width: fit-content;
text-align: center;
}

  .form-control{
  max-width: 88%;
  margin: auto ;
}  

.Grabbox{
 max-width: 80%;
 display: flex;
 flex-direction: column;
}

.Grab{
  font-size: 1.2rem;
}

}


@media only screen and (max-width: 350px){
  .Theme-y{
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;  
    z-index: 100;
  } 
  .Theme-x{
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;  
    z-index: 100;
  } 
} 