*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.Theme-x{
 height: 64px;
 }

@media only screen and (max-width: 900px){ 

.portion{
   display: flex;
   flex-direction: column;
   height: max-content;
  }

  .fix-box{
    display: flex;
    flex-direction: column-reverse;
  }

  .portion2{
    display: flex;
    flex-direction: column;
  }

  .subportion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
  }


  .picture{
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 0;
    border: "2px solid black"
  }

  .paragraph{
    min-width: 90%;
    display: flex;
    flex-wrap: wrap;
    word-break: keep-all;
    text-align: center;
  }

  .Products{
    text-align: center;
  }

  .Grab{
    text-align: center;
  }

  .Slider{
    max-height: 300px;
  }

}

@media only screen and (max-width: 600px) {
  .Theme-x{
    height: 48px;
    }

}

@media only screen and (max-width: 290px) {
  .Theme-x{
    height: 56px;
    }

}